body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#img_logo {
  height: 50px;
  width: auto;
}

#nuevo {
  color: white;
  background-color: black;
}

#menuBarIcon{
  color: rgb(0, 0, 0, 1);
}

#menuBarText{
  color: rgb(0, 0, 0, 1);
}

#menuItem{
  color: rgb(0, 0, 0, 1);
  opacity: 1;
  background-color: rgb(183, 205, 219,0.4);
}
